* {
    box-sizing: border-box;
    color: #FCFAF0;
    font-family: 'Oswald', sans-serif
}

header {
    padding-top: 1rem;
}

body {
    background-color: #607172;
}

.game-container {
    /* width: 85%; */
}

@media only screen and (max-width: 992px) {
    .word-container p {
        margin-top: 5% !important;
        text-align: center;
    }

    .word {
        margin-bottom: 5% !important;
        text-align: center;
    }

    #selectedWord {
        display: flex !important;
        justify-content: center !important;
    }
}

.word-container p {
    margin-top: 20%;
    font-size: 1.25rem;
}

#selectedWord {
    height: 67px;
    padding-left: 0 !important;
}

.letter {
    display: block;
    float: left;
    /* padding: 0 .55rem .25rem .55rem; */
    border-bottom: 3px solid #A9C2B9;
    font-size: 2.5rem;
    min-width: 55px;
    min-height: 67px;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* position: relative; */
}

.win{
    transform: translateY(-4px)
}



/* ====== HANGMAN ANIMATION ====== */
.transition {
    stroke-dasharray: 227;
    stroke-dashoffset: 0;
    /* animation-iteration-count: infinite; */
    animation-name: rotate;
    animation-duration: 1.5s;
    /* animation-direction: alternate; */
    animation-timing-function: ease;
}


@keyframes rotate {
    from {
      stroke-dashoffset: 227;
    }
  }

/* ====== KEYBOARD ====== */
#keyboard {
    width: 59%;
    padding-top: 2rem;
}

.keyLetter {
    min-width: 42px !important;
    font-size: 28px;
}

/* after selection */
.btn.disabled, .btn:disabled {
    opacity: .25 !important;
}


.hidden {
    display: none;
}

/* ====== FINAL MODAL ====== */
.modal-title {
    color:black;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: .25em;
}